<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69361255137-h2bugdmo5emct1eha7sis12r8t4ednor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69361255137-h2bugdmo5emct1eha7sis12r8t4ednor</string>
	<key>API_KEY</key>
	<string>AIzaSyA3JzyTR3N7Ue8Y567dKeJ8l4G7BcbHLQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>69361255137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>OBSS.BOBP</string>
	<key>PROJECT_ID</key>
	<string>bobp-48b26</string>
	<key>STORAGE_BUCKET</key>
	<string>bobp-48b26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69361255137:ios:a26476d9d24d0922</string>
	<key>DATABASE_URL</key>
	<string>https://bobp-48b26.firebaseio.com</string>
</dict>
</plist>